body {
    background: #111;
    color: #fff;
    font-family: sans-serif;
    font-size: 8pt;
}

.dark {
    canvas {
        background: #000;
        border-radius: 8px;
        display: block;
        margin: 16px 0;
    }

    #ui {
        margin-bottom: 10px;
    }

    label {
        margin-right: 18px;
    }

    #form-parameters label {
        display: block;
        margin-bottom: 6px;
    }
}

.light {
    canvas {
        background: #fff;
        border-radius: 8px;
        display: block;
        margin: 16px 0;
    }

    #ui {
        margin-bottom: 10px;
    }

    label {
        margin-right: 18px;
    }

    #form-parameters label {
        display: block;
        margin-bottom: 6px;
    }
}